// utils styles
@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/placeholders.scss';
@import './utils/mixins';
@import './utils/animations';

// base styles
@import './base/base';
@import './base/reset';

// components styles
@import './components/header';
@import './components/footer';
@import './components/hero';
@import './components/dance-tour';
@import './components/pricing';
@import './components/advantages';
@import './components/statistics';
@import './components/person';
@import './components/subscribe';