// utils styles
@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/placeholders.scss';

// base styles
@import './base/base';
@import './base/reset';

// components styles
@import './components/header';
@import './components/btn';
@import './components/footer';
@import './components/hero';
