.advantages {
	background-color: $accent-color;

		background-image: url(../images/advantages/dots@1x.png) , url(../images/advantages/dots-2@1x.png);
	@media (min-device-pixel-ratio:2),
		(min-resolution: 192dpi), 
		(min-resolution: 2dppx) {
			background-image: url("../images/advantages/dots@2x.png") , url(../images/advantages/dots-2@2x.png);
	}
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left -1200px top 1000px, right -1000px top 200px;
}
.advantages__container {
	@extend %container;
	padding: 0;
}

.advantages__title {
}

.advantages__list {
}

.advantages__item {
	display: flex;
	margin: 0;
}

.advantages__img {
	width: 719px;
}

.advantages__card {
	width: calc(100% - 719px);
	padding-top: 335px;
	padding-bottom: 227px;
	padding-left: 107px;
	text-align: left;
}

.advantages__subtitle {
	margin-bottom: 59px;
	
	font-family: Oswald;
	font-size: 75px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
}

.advantages__text {
	margin-bottom: 88px;

	font-size: 25px;
	text-align: left;
}

.advantages__btn {
	@extend %btn;
	background-color: $secondary-color;
}

.advantages__item--right-img {
}

