/* 
==============
Стилі для герой 
==============
*/

.hero {
	text-align: left;
	height: 796px;
	background-image: url(../images/hero/img-1@1x.jpg);
	@media (min-device-pixel-ratio:2),
		(min-resolution: 192dpi), 
		(min-resolution: 2dppx) {
			background-image: url("../images/hero/img-1@2x.jpg");	
	}
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.hero__container {
	padding-top: 268px;
	@extend %container;
}

.hero__title {
	margin-bottom: 37px;

	font-family: Oswald;
	font-size: 125px;
	text-align: left;
}

.hero__text {
	margin-bottom: 44px;

	width: 700px;
	text-align: left;
}

.hero__btn {
	@extend %btn;	
}
