.person {
	height: 974px;

		background-image: linear-gradient(rgba(232,99,28,0.65), rgba(232,99,28,0.65)) , url(../images/person/img-1@1x.jpg);
	@media (min-device-pixel-ratio:2),
		(min-resolution: 192dpi), 
		(min-resolution: 2dppx) {
			background-image: url("../images/person/img-1@2x.jpg");
	}
	background-repeat: no-repeat;
	// background-size: cover;
	background-position: center;
}
.person__container {
	@extend %container;
	padding-top: 338px;
}

.person__text {
	margin-bottom: 77px;

	font-size: 50px;
}

.person__title {
	font-family: Oswald;
	font-size: 58px;
	font-weight: 700;
	text-transform: uppercase;
}
