body {
	background-color: $secondary-color;

	font-family: 'Montserrat', 'Nunito', 'Oswald', sans-serif;
	
	color: $text-color;
	font-size: 30px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: center;
}