%container{
	margin-left: auto;
   margin-right: auto;
	max-width: 1440px;
	padding-left: 80px;
	padding-right: 80px;
}

%btn{
	width: 322px;
	height: 65px;
	border-radius: 4px;
	background-color: $accent-color;

	color: $text-color;
	font-family: Oswald;
	font-size: 29px;
	text-transform: uppercase;
}